// UCS
$accentyColorShowcase: #c1ff2e;
$headerOverlayColor: rgba(0, 0, 0, 0.45);
$closeButtonColor: white;

body#ucs.showcase {
  *::selection {
    background: black;
    color: $accentyColorShowcase;
  }

  .showcaseContainer {
    padding: 120px $mobilePadding;
    @media only screen and (min-width: 980px) {
      padding: 200px $mobilePadding;
    }
  }

  .closeContainer.closeShowcase .icon {
    color: $closeButtonColor;
    text-shadow: 0 0 5px $headerOverlayColor;
  }

  .navContainer {
    .closeButton {
      width: 30px;
      .closeLine {
        width: 30px;
        height: 3px;
        background: #ffffff;
        transform-origin: center;
        position: absolute;
        border-radius: 1px;
        &.topLine {
          transform: rotate(45deg);
        }
        &.bottomLine {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .showcaseHeader {
    height: 100vh;
    overflow: hidden;
    .backgroundOverlay {
      background: $headerOverlayColor;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .videoBackground {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      video {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
    .showcaseLogoContainer {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      padding: $mobilePadding;
      img {
        width: 100%;
        max-width: 750px;
      }
    }
  }

  .showcaseDescription {
    background: $accentyColorShowcase;
    padding: 120px $mobilePadding;
    .innerContentContainer {
      margin: 0 auto;
      max-width: 1000px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
      @media only screen and (min-width: 980px) {
        flex-direction: row;
      }
      .taskContainer {
        width: 100%;
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: space-between;
        order: 2;
        margin-top: 3rem;
        @media only screen and (min-width: 980px) {
          order: 1;
          width: 30%;
          margin-top: 0;
        }
      }
      .descriptionContainer {
        width: 100%;
        order: 1;
        @media only screen and (min-width: 980px) {
          order: 2;
          width: 70%;
        }
        .readText {
          color: black;
        }
      }
      .creditsContainer {
        width: 100%;
        order: 3;
        @media only screen and (min-width: 980px) {
          margin-left: 30%;
        }
      }
    }
  }

  // testimonials
  .showcaseTestimonial {
    .testimonialContainer {
      display: flex;
      align-items: center;
      .testimonialItem {
        box-shadow: none;
        .secondaryLink:before {
          background: $accentyColorShowcase;
        }
      }
    }
  }

  // mainProjectImage
  .showcaseImageContainer {
    line-height: 0;
    img {
      width: 100%;
    }
  }

  // the problem
  .problemContainer {
    .toSolve {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        display: none;
        position: relative;
        @media only screen and (min-width: 980px) {
          display: inline-block;
        }
        &.marked {
          display: inline-block;
        }
        svg {
          position: absolute;
          height: 60px;
          width: 225px;

          top: calc(-60px / 4);

          &.left {
            left: calc(-225px / 3);
          }
          &.middle {
            left: calc(-225px / 4);
          }
          &.right {
            left: calc(-225px / 3.5);
          }
          path#problemMarker {
            fill: $accentyColorShowcase;
          }
        }
        p {
          font-size: 1.25em;
        }
      }
    }
  }

  footer.showCaseFooter {
    margin-top: 0;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
