@import url("https://use.typekit.net/sdp7lpt.css");
* {
  font-family: futura-pt, sans-serif; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  pointer-events: none;
  max-width: 100%; }

a {
  text-decoration: none;
  color: #000000; }

* {
  box-sizing: border-box; }
  *::selection {
    background: #ffda48;
    color: black; }

body {
  overflow-x: hidden;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background: #ffffff; }
  body.dark {
    background: #000000; }

.doubleUnderline {
  background: url("/assets/double-underline.svg") center bottom no-repeat; }

main.noPadding {
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.pointer,
button,
a {
  cursor: crosshair; }

.whiteText {
  color: white !important; }

.primaryText {
  color: #ffda48; }

.primaryText {
  color: #ffda48; }

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.pageSlogan {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto; }
  .pageSlogan img {
    max-width: 1000px;
    width: 100%; }

.maxContainer {
  max-width: 1280px; }

.halfWidth {
  width: 100%; }
  @media only screen and (min-width: 980px) {
    .halfWidth {
      width: 50%; } }

.section,
section {
  margin-top: 300px; }
  @media only screen and (min-width: 980px) {
    .section,
    section {
      margin-top: 400px; } }
  .section.evenMarginSection,
  section.evenMarginSection {
    margin-bottom: 300px; }
    @media only screen and (min-width: 980px) {
      .section.evenMarginSection,
      section.evenMarginSection {
        margin-bottom: 400px; } }

.visibilityHidden {
  visibility: hidden; }

.mt1 {
  margin-top: 1em; }

.mt2 {
  margin-top: 2em; }

.mt3 {
  margin-top: 3em; }

.mt4 {
  margin-top: 4em; }

.mt5 {
  margin-top: 5em; }

.mt150 {
  margin-top: 150px; }

.mb1 {
  margin-bottom: 1em; }

.mb-5 {
  margin-bottom: 5em; }

.mb-3 {
  margin-bottom: 3em; }

.negativeMargin {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.mt100 {
  margin-top: 100vh; }

.mauto {
  margin: 0 auto; }

.mlrauto {
  margin-left: auto;
  margin-right: auto; }

.pt1 {
  padding-top: 1em; }

.pt2 {
  padding-top: 2em; }

.pt3 {
  padding-top: 3em; }

.pt4 {
  padding-top: 4em; }

.pt5 {
  padding-top: 5em; }

.plr {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.horizontalList {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  font-size: 1.125em; }

.medium {
  font-weight: 500; }

.bold {
  font-weight: 700; }

.heavy {
  font-weight: 900; }

.justifyCenter {
  justify-content: center; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.textLeft {
  text-align: left; }

textarea {
  resize: vertical; }

.readText {
  font-size: 1.1em;
  font-weight: 400;
  color: #666666;
  line-height: 25px; }
  .readText.whiteText {
    color: white; }
  @media only screen and (min-width: 980px) {
    .readText {
      font-size: 1.25em;
      line-height: 30px; } }
  .readText.quote {
    position: relative; }
    .readText.quote:before {
      position: absolute;
      content: url(../assets/quote-open.svg);
      width: 2.5em;
      display: inline-block;
      opacity: 0.05; }

.sectionHeading {
  margin-bottom: 2rem; }
  .sectionHeading .heading {
    font-size: 42px;
    text-transform: lowercase;
    font-weight: 700;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
    @media only screen and (min-width: 980px) {
      .sectionHeading .heading {
        font-size: 62px; } }
  .sectionHeading .subheading {
    color: #666666;
    font-size: 0.9em;
    display: flex;
    font-weight: 400;
    align-items: center;
    margin-top: 5px; }
    @media only screen and (min-width: 980px) {
      .sectionHeading .subheading {
        font-size: 21px; } }
    .sectionHeading .subheading:before {
      content: "";
      background: #ffda48;
      margin-right: 7px;
      width: 25px;
      height: 2px;
      display: inline-block; }

h1.bigHeading,
h2.bigHeading {
  font-size: 3em;
  text-transform: uppercase; }
  @media only screen and (min-width: 600px) {
    h1.bigHeading,
    h2.bigHeading {
      font-size: 5em; } }
  @media only screen and (min-width: 980px) {
    h1.bigHeading,
    h2.bigHeading {
      font-size: 7em; } }
  @media only screen and (min-width: 1260px) {
    h1.bigHeading,
    h2.bigHeading {
      font-size: 9em; } }

h2.heading {
  font-size: 3em;
  text-transform: uppercase; }
  @media only screen and (min-width: 600px) {
    h2.heading {
      font-size: 4em; } }
  @media only screen and (min-width: 980px) {
    h2.heading {
      font-size: 5em; } }
  @media only screen and (min-width: 1260px) {
    h2.heading {
      font-size: 6em; } }

p.subheading {
  font-size: 1.25em; }
  @media only screen and (min-width: 980px) {
    p.subheading {
      font-size: 1.35em; } }
  @media only screen and (min-width: 1260px) {
    p.subheading {
      font-size: 1.5em; } }

p.heading {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase; }

h3.heading {
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase; }
  @media only screen and (min-width: 1260px) {
    h3.heading {
      font-size: 4em; } }

h4.heading {
  margin-top: 10px;
  font-size: 3em;
  font-weight: 700; }

h5.heading {
  font-size: 1.75em;
  font-weight: 700; }

.heading a {
  transition: color 200ms; }
  .heading a:hover {
    color: #ffda48;
    transition: color 200ms; }

a.email {
  transition: color 200ms; }
  a.email:hover {
    color: #ffda48 !important;
    transition: color 200ms; }

.halfContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px; }
  @media only screen and (min-width: 980px) {
    .halfContainer {
      grid-template-columns: 1fr 1fr; } }

.quarterContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px; }
  @media only screen and (min-width: 980px) {
    .quarterContainer {
      grid-template-rows: 1fr 1fr;
      grid-gap: 10px; } }

.loadingScreen {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .loadingScreen img {
    width: 50px;
    margin-bottom: 2em; }
  .loadingScreen .progressBar {
    background: #111111;
    width: 0px;
    height: 2px; }

.impressumContainer h2 {
  margin-top: 2em; }
.impressumContainer h3 {
  margin-top: 1.25em; }

#customScrollbar {
  position: fixed;
  width: 4px;
  height: 0vh;
  left: 0;
  top: 0;
  background: #ffda48;
  z-index: 100000; }

.navContainer {
  margin-top: -1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 1.5rem;
  left: 1.5rem;
  z-index: 999;
  opacity: 1;
  transition: all 600ms ease-in-out; }
  .navContainer.open {
    opacity: 0;
    transition: all 600ms ease-in-out; }
  .navContainer .logoContainer {
    background: #000000;
    padding: 20px 15px;
    width: 70px; }
  .navContainer .menuToggleContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px; }
    .navContainer .menuToggleContainer .menuLabel {
      margin-right: 1em;
      display: none; }
      @media only screen and (min-width: 980px) {
        .navContainer .menuToggleContainer .menuLabel {
          display: inline-block; } }
    .navContainer .menuToggleContainer:hover .hamburgerMenu .middleLine.toggleLine {
      width: 30px;
      transition: all 150ms; }
    .navContainer .menuToggleContainer .hamburgerMenu {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      height: 17px;
      width: 30px; }
      .navContainer .menuToggleContainer .hamburgerMenu .toggleLine {
        width: 30px;
        height: 3px;
        background: #000000;
        border-radius: 1px; }
      .navContainer .menuToggleContainer .hamburgerMenu .middleLine.toggleLine {
        width: 20px;
        position: relative;
        left: 5px;
        transition: all 150ms; }

.closeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem; }
  .closeContainer .icon {
    font-size: 1.75em; }

.menuContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 150vw;
  left: -150vw;
  top: 1.5rem;
  opacity: 0;
  bottom: 1.5rem;
  z-index: 1001;
  padding: 1.5rem;
  backdrop-filter: blur(25px) brightness(100%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  transition: all 1000ms ease-in-out;
  margin: -1.5rem;
  background: rgba(255, 255, 255, 0.95); }
  @media only screen and (min-width: 980px) {
    .menuContainer {
      right: auto;
      width: 50vw;
      min-width: 980px; } }
  .menuContainer.open {
    transition: all 1000ms ease-in-out;
    right: 0;
    left: 0;
    opacity: 1; }
  .menuContainer .menuItemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .menuContainer .menuItemContainer .menuItem {
      position: relative;
      padding: 1.5rem;
      background: none;
      outline: none;
      border: none;
      font-size: 50px;
      z-index: 2;
      transition: 300ms ease-out all;
      text-align: center;
      opacity: 0.5;
      left: 0; }
      .menuContainer .menuItemContainer .menuItem.active {
        opacity: 1; }
        .menuContainer .menuItemContainer .menuItem.active span:after {
          content: url("/assets/navigation-menu/marker-2.svg");
          width: 100%;
          position: absolute;
          color: #ffda48;
          z-index: -1;
          left: 5px;
          top: 30px;
          transition: 300ms ease-out all; }
      .menuContainer .menuItemContainer .menuItem:hover:not(.active) {
        opacity: 1; }
        @media only screen and (min-width: 980px) {
          .menuContainer .menuItemContainer .menuItem:hover:not(.active) {
            left: 30px;
            transition: 300ms ease-out all; } }
      .menuContainer .menuItemContainer .menuItem.active .text[data-menulabel]:after {
        content: none !important; }
      .menuContainer .menuItemContainer .menuItem .number {
        font-size: 0.25em; }
        @media only screen and (min-width: 980px) {
          .menuContainer .menuItemContainer .menuItem .number {
            font-size: 0.25em; } }
      .menuContainer .menuItemContainer .menuItem .text {
        font-size: 0.9em;
        font-weight: 900;
        text-transform: uppercase; }
        @media only screen and (min-width: 600px) {
          .menuContainer .menuItemContainer .menuItem .text {
            font-size: 1.5em; } }
        @media only screen and (min-width: 980px) {
          .menuContainer .menuItemContainer .menuItem .text {
            font-size: 2em; } }
        .menuContainer .menuItemContainer .menuItem .text[data-menulabel]:after {
          width: 100%;
          position: absolute;
          color: rgba(255, 218, 72, 0);
          z-index: -1;
          left: 5px;
          top: 30px;
          opacity: 0;
          transition: 300ms ease-out all; }
        .menuContainer .menuItemContainer .menuItem .text:hover[data-menulabel]:after {
          opacity: 1;
          transition: 300ms ease-out all; }
        .menuContainer .menuItemContainer .menuItem .text[data-menulabel="Startseite"]:after {
          content: url("/assets/navigation-menu/marker-2.svg"); }
        .menuContainer .menuItemContainer .menuItem .text[data-menulabel="Portfolio"]:after {
          content: url("/assets/navigation-menu/marker-3.svg"); }
        .menuContainer .menuItemContainer .menuItem .text[data-menulabel="Team"]:after {
          content: url("/assets/navigation-menu/marker-4.svg"); }
        .menuContainer .menuItemContainer .menuItem .text[data-menulabel="Kontakt"]:after {
          content: url("/assets/navigation-menu/marker-1.svg"); }
  .menuContainer .contactDetailsContainer {
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: 500; }
    .menuContainer .contactDetailsContainer .heading {
      color: #aaaaaa; }

.toggleMenuOverlay {
  display: none; }
  @media only screen and (min-width: 980px) {
    .toggleMenuOverlay.open {
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 1000;
      margin: -1.5rem; } }

@media only screen and (min-width: 1260px) {
  body#home {
    background: url("/assets/herosection/home-hero-background.svg") top center no-repeat;
    background-size: contain; } }

#heroSection {
  position: absolute;
  top: 0;
  right: 1.5rem;
  left: 1.5rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  background: url("/assets/herosection/marker.svg") center center no-repeat; }
  @media only screen and (min-width: 1260px) {
    #heroSection {
      background: none; } }
  #heroSection .contentContainer {
    width: 100%; }
    #heroSection .contentContainer .linkItemContainer .linkItem {
      position: relative;
      display: block;
      cursor: crosshair; }
      #heroSection .contentContainer .linkItemContainer .linkItem .linkText {
        display: inline;
        font-weight: 800; }
        #heroSection .contentContainer .linkItemContainer .linkItem .linkText:hover {
          -webkit-text-stroke: 5px black;
          color: transparent;
          text-shadow: 3px 3px 0 #000, 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
    #heroSection .contentContainer .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 2.5em; }
      #heroSection .contentContainer .buttonContainer .team,
      #heroSection .contentContainer .buttonContainer .talk {
        display: none; }
        @media only screen and (min-width: 980px) {
          #heroSection .contentContainer .buttonContainer .team,
          #heroSection .contentContainer .buttonContainer .talk {
            display: flex !important; } }
      #heroSection .contentContainer .buttonContainer .team {
        margin: 0 10%; }
    #heroSection .contentContainer .sloganContainer {
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
      color: #666666; }
      #heroSection .contentContainer .sloganContainer .verticalStripe {
        background: #666666;
        width: 3px;
        height: 100px;
        position: absolute;
        bottom: -115px;
        left: 0;
        right: 0;
        margin: 0 auto; }

#whatwedo {
  position: relative;
  padding-top: 210px; }
  @media only screen and (min-width: 980px) {
    #whatwedo {
      padding-bottom: 100px;
      padding-top: 450px; } }
  #whatwedo .imageContainer img {
    width: 100%; }
  #whatwedo .ideenImage {
    display: none;
    position: absolute; }
    @media only screen and (min-width: 980px) {
      #whatwedo .ideenImage {
        width: 55%;
        max-width: 900px;
        display: inline-block;
        bottom: 40px;
        left: 0;
        right: 0;
        z-index: -1; } }
  #whatwedo .sectionHeading {
    margin-bottom: 0; }
  @media only screen and (min-width: 980px) {
    #whatwedo .contentContainer .readText {
      width: 75%;
      max-width: 950px; } }
  #whatwedo .imageContainer {
    display: block;
    margin: 2em 0 1em 0; }
    @media only screen and (min-width: 980px) {
      #whatwedo .imageContainer {
        margin: 0; } }

#testimonials {
  position: relative; }
  #testimonials .menschenImage {
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    left: 0; }
    @media only screen and (min-width: 980px) {
      #testimonials .menschenImage {
        width: 75%; } }
  #testimonials .sectionHeading {
    margin-bottom: 0; }
  #testimonials .testimonialContainer {
    display: flex; }
    #testimonials .testimonialContainer .testimonialItem {
      background: transparent;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
      @media only screen and (min-width: 980px) {
        #testimonials .testimonialContainer .testimonialItem {
          padding: 2rem 1.5rem;
          width: 75%; } }
      #testimonials .testimonialContainer .testimonialItem .avatar {
        width: 200px;
        height: 200px;
        filter: grayscale(100%); }
        @media only screen and (min-width: 980px) {
          #testimonials .testimonialContainer .testimonialItem .avatar {
            width: 250px;
            height: 250px; } }
      #testimonials .testimonialContainer .testimonialItem .personDetails .name {
        font-weight: 600;
        font-size: 1em; }
      #testimonials .testimonialContainer .testimonialItem .personDetails .title {
        font-weight: 200;
        font-size: 0.9em;
        color: #666666; }
      #testimonials .testimonialContainer .testimonialItem .profilInformation {
        background: url("/assets/herosection/marker.svg") center center no-repeat; }
  #testimonials .pagiContainer {
    display: none; }
    @media only screen and (min-width: 980px) {
      #testimonials .pagiContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        right: 0; } }
    #testimonials .pagiContainer .pagiInnerContainer {
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: crosshair; }
      #testimonials .pagiContainer .pagiInnerContainer .pagiItem {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color 1000ms; }
        #testimonials .pagiContainer .pagiInnerContainer .pagiItem.active {
          background-color: #ffda48;
          transition: background-color 1000ms; }

#team {
  position: relative;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }
  @media only screen and (min-width: 980px) {
    #team {
      margin-left: auto;
      margin-right: auto; } }
  #team .homeMarker {
    position: absolute;
    top: -150px; }
  #team .innerContentContainer {
    position: relative;
    padding: 1.875rem 1.5rem; }
    @media only screen and (min-width: 980px) {
      #team .innerContentContainer {
        padding: 0; } }
    #team .innerContentContainer .contentContainer {
      padding: 1.5rem;
      background: rgba(255, 218, 72, 0.9);
      border-radius: 5px;
      color: white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
      @media only screen and (min-width: 980px) {
        #team .innerContentContainer .contentContainer {
          width: 50%;
          position: relative;
          margin: 0 auto;
          top: -250px; } }
      #team .innerContentContainer .contentContainer .preHeading {
        font-size: 0.85rem;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: white; }
        #team .innerContentContainer .contentContainer .preHeading:before {
          content: "";
          background: white;
          margin-right: 7px;
          width: 25px;
          height: 2px;
          display: inline-block; }
      #team .innerContentContainer .contentContainer .teamLink {
        font-size: 1.25em;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: white; }
        @media only screen and (min-width: 980px) {
          #team .innerContentContainer .contentContainer .teamLink {
            margin-bottom: 4em; } }
        #team .innerContentContainer .contentContainer .teamLink span {
          display: flex;
          align-items: center; }
        #team .innerContentContainer .contentContainer .teamLink span:hover:before {
          transition: 300ms ease-in-out;
          left: calc(100% + 7px); }
        #team .innerContentContainer .contentContainer .teamLink span:before {
          content: "";
          background: white;
          position: relative;
          left: -7px;
          width: 25px;
          height: 2px;
          display: inline-block;
          transition: 300ms ease-in-out; }

.socialBanner {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  .socialBanner .innerContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0; }
    .socialBanner .innerContentContainer .socialbannerHeading {
      font-size: 2.25em; }
      @media only screen and (min-width: 980px) {
        .socialBanner .innerContentContainer .socialbannerHeading {
          font-size: 3.5em; } }
      @media only screen and (min-width: 1260px) {
        .socialBanner .innerContentContainer .socialbannerHeading {
          font-size: 4em; } }
    .socialBanner .innerContentContainer .socialIconContainer {
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 400px; }
      .socialBanner .innerContentContainer .socialIconContainer .socialItem i {
        font-size: 1.5em; }
        @media only screen and (min-width: 1260px) {
          .socialBanner .innerContentContainer .socialIconContainer .socialItem i {
            font-size: 2em; } }

footer#readytotalk {
  margin-top: 300px; }
  @media only screen and (min-width: 980px) {
    footer#readytotalk {
      margin-top: 150px;
      padding-top: 450px;
      z-index: 10;
      position: relative;
      background: url("/assets/home-footer-background.png") top center no-repeat;
      background-size: cover; } }
  footer#readytotalk img {
    margin-bottom: 30px; }
    @media only screen and (min-width: 980px) {
      footer#readytotalk img {
        margin-bottom: 50px; } }
  @media only screen and (min-width: 980px) {
    footer#readytotalk .contactDetailsContainer {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  footer#readytotalk .contactDetailsContainer .detailItem {
    margin-top: 3em; }
    footer#readytotalk .contactDetailsContainer .detailItem .subheading {
      color: #aaaaaa; }
      @media only screen and (min-width: 980px) {
        footer#readytotalk .contactDetailsContainer .detailItem .subheading {
          font-size: 1.25em; } }
    @media only screen and (min-width: 980px) {
      footer#readytotalk .contactDetailsContainer .detailItem .heading {
        font-size: 2.5em; } }
  footer#readytotalk .rightsContainer {
    margin-top: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem 1.5rem;
    flex-wrap: wrap; }
    @media only screen and (min-width: 980px) {
      footer#readytotalk .rightsContainer {
        margin-top: 250px; } }
    footer#readytotalk .rightsContainer .rightsItem {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 10px 0; }
      @media only screen and (min-width: 980px) {
        footer#readytotalk .rightsContainer .rightsItem {
          width: 33%;
          margin: 0; } }
    footer#readytotalk .rightsContainer .socialItem {
      margin: 0 15px; }

.socialItem i {
  transition: all 300ms;
  font-size: 1.5em; }

.socialItem:hover i {
  transform: scale(1.2);
  color: #ffda48;
  transition: all 300ms; }

.overviewContainer {
  margin-top: -100px; }
  @media only screen and (min-width: 980px) {
    .overviewContainer {
      margin-top: -150px; } }
  .overviewContainer .overviewItem {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .overviewContainer .overviewItem:not(:first-child) {
      margin-top: 250px; }
    @media only screen and (min-width: 980px) {
      .overviewContainer .overviewItem {
        flex-direction: row; }
        .overviewContainer .overviewItem:not(:first-child) {
          margin-top: 400px; } }
    .overviewContainer .overviewItem .imageContainer,
    .overviewContainer .overviewItem .contentContainer {
      width: 100%; }
      @media only screen and (min-width: 980px) {
        .overviewContainer .overviewItem .imageContainer,
        .overviewContainer .overviewItem .contentContainer {
          width: 50%; } }
    .overviewContainer .overviewItem .imageContainer {
      text-align: center; }
      .overviewContainer .overviewItem .imageContainer img {
        width: 100%; }
    .overviewContainer .overviewItem .contentContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media only screen and (min-width: 980px) {
        .overviewContainer .overviewItem .contentContainer {
          margin-left: 3rem; } }
      .overviewContainer .overviewItem .contentContainer h3.heading {
        position: relative;
        margin: 1em 0;
        text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15); }
        @media only screen and (min-width: 980px) {
          .overviewContainer .overviewItem .contentContainer h3.heading {
            top: 20px;
            left: -100px;
            margin: 0; } }
      .overviewContainer .overviewItem .contentContainer .task {
        margin-bottom: 1em; }
      .overviewContainer .overviewItem .contentContainer .readText.quote {
        color: #333333;
        font-style: italic;
        font-weight: 500; }

body.showcase .showcaseContainer {
  padding: 120px 1.5rem; }
  @media only screen and (min-width: 980px) {
    body.showcase .showcaseContainer {
      padding: 200px 1.5rem; } }
body.showcase .closeContainer.closeShowcase .icon {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.45); }
body.showcase .navContainer .closeButton {
  width: 30px; }
  body.showcase .navContainer .closeButton .closeLine {
    width: 30px;
    height: 3px;
    background: #ffffff;
    transform-origin: center;
    position: absolute;
    border-radius: 1px; }
    body.showcase .navContainer .closeButton .closeLine.topLine {
      transform: rotate(45deg); }
    body.showcase .navContainer .closeButton .closeLine.bottomLine {
      transform: rotate(-45deg); }
body.showcase .showcaseHeader {
  height: 100vh;
  overflow: hidden; }
  body.showcase .showcaseHeader .backgroundOverlay {
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  body.showcase .showcaseHeader .videoBackground {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center; }
    body.showcase .showcaseHeader .videoBackground video {
      position: absolute;
      bottom: 0;
      min-width: 100%;
      min-height: 100%; }
  body.showcase .showcaseHeader .showcaseLogoContainer {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 1.5rem; }
    body.showcase .showcaseHeader .showcaseLogoContainer img {
      width: 100%;
      max-width: 750px; }
body.showcase .showcaseDescription {
  border-radius: 20px 20px 0 0;
  padding: 120px 1.5rem;
  background: #009933;
  background: linear-gradient(45deg, rgba(0, 153, 51, 0.75) 0%, #009933 100%);
  background: -webkit-linear-gradient(135deg, rgba(0, 153, 51, 0.75) 0%, #009933 100%);
  color: white; }
  body.showcase .showcaseDescription .innerContentContainer {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap; }
    @media only screen and (min-width: 980px) {
      body.showcase .showcaseDescription .innerContentContainer {
        flex-direction: row; } }
    body.showcase .showcaseDescription .innerContentContainer .taskContainer {
      width: 100%;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: space-between;
      order: 2;
      margin-top: 3rem; }
      @media only screen and (min-width: 980px) {
        body.showcase .showcaseDescription .innerContentContainer .taskContainer {
          order: 1;
          width: 30%;
          margin-top: 0; } }
    body.showcase .showcaseDescription .innerContentContainer .descriptionContainer {
      width: 100%;
      order: 1; }
      @media only screen and (min-width: 980px) {
        body.showcase .showcaseDescription .innerContentContainer .descriptionContainer {
          order: 2;
          width: 70%; } }
      body.showcase .showcaseDescription .innerContentContainer .descriptionContainer .readText {
        color: white; }
    body.showcase .showcaseDescription .innerContentContainer .creditsContainer {
      width: 100%;
      order: 3; }
      @media only screen and (min-width: 980px) {
        body.showcase .showcaseDescription .innerContentContainer .creditsContainer {
          margin-left: 30%; } }
body.showcase .showcaseContainer {
  max-width: 1920px;
  width: 100%;
  padding: 120px 1.5rem; }
  @media only screen and (min-width: 980px) {
    body.showcase .showcaseContainer {
      padding: 250px 40px; } }
  body.showcase .showcaseContainer .showcaseTestimonialContainer {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 980px) {
      body.showcase .showcaseContainer .showcaseTestimonialContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center; } }
    body.showcase .showcaseContainer .showcaseTestimonialContainer .avatar img {
      width: 100%;
      max-width: 450px; }
    @media only screen and (min-width: 980px) {
      body.showcase .showcaseContainer .showcaseTestimonialContainer .showcaseTestimonialContentContainer {
        margin-left: 3em;
        width: 60%; } }
    body.showcase .showcaseContainer .showcaseTestimonialContainer .showcaseTestimonialContentContainer .name {
      text-transform: initial; }
    @media only screen and (min-width: 980px) {
      body.showcase .showcaseContainer .showcaseTestimonialContainer .showcaseTestimonialContentContainer .name,
      body.showcase .showcaseContainer .showcaseTestimonialContainer .showcaseTestimonialContentContainer .title {
        position: relative;
        left: -65px; } }
  body.showcase .showcaseContainer .showcaseWebContainer .targetContainer .targetList li {
    position: relative; }
    body.showcase .showcaseContainer .showcaseWebContainer .targetContainer .targetList li:not(.marked) {
      display: none; }
      @media only screen and (min-width: 980px) {
        body.showcase .showcaseContainer .showcaseWebContainer .targetContainer .targetList li:not(.marked) {
          display: initial; } }
    body.showcase .showcaseContainer .showcaseWebContainer .targetContainer .targetList li.marked:after {
      content: "";
      display: inline-block;
      width: 210%;
      position: absolute;
      left: -50%;
      top: -20px;
      height: 60px;
      background-size: contain; }
  body.showcase .showcaseContainer .showcaseWebContainer .imageContainer .showcaseImagecontainer {
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 980px) {
      body.showcase .showcaseContainer .showcaseWebContainer .imageContainer .showcaseImagecontainer {
        margin-bottom: 20px; } }
    body.showcase .showcaseContainer .showcaseWebContainer .imageContainer .showcaseImagecontainer.fullShowcaseImage {
      width: 100%; }
      body.showcase .showcaseContainer .showcaseWebContainer .imageContainer .showcaseImagecontainer.fullShowcaseImage img {
        width: 100%; }
body.showcase footer.showCaseFooter {
  margin-top: 0;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.showcaseContent.mainContentContainer {
  position: relative;
  z-index: 10;
  max-width: 1920px;
  margin: -50px 1.5rem -50px 1.5rem;
  border-radius: 20px 20px;
  background: white;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15); }
  @media screen and (min-width: 980px) {
    .showcaseContent.mainContentContainer {
      margin: -100px 3rem -100px 3rem; } }

body#ucs.showcase .showcaseContainer .sectionHeading .subheading:before,
body#ucs.showcase .showcaseContainer .secondaryLink span:before,
body#ucs.showcase .showcaseContainer .button.primaryButton:after {
  background: #c1ff2e; }
body#ucs.showcase .showcaseDescription {
  background: #111111;
  background: linear-gradient(45deg, #424242 0%, #111111 100%);
  background: -webkit-linear-gradient(135deg, #424242 0%, #111111 100%);
  color: white; }
body#ucs.showcase .showcaseContainer .showcaseWebContainer .targetContainer .targetList li.marked:after {
  background: url("/pages/portfolio/ucs/assets/marker.svg") center center no-repeat; }

body#gzk.showcase .showcaseContainer .sectionHeading .subheading:before,
body#gzk.showcase .showcaseContainer .secondaryLink span:before,
body#gzk.showcase .showcaseContainer .button.primaryButton:after {
  background: #009933; }
body#gzk.showcase .showcaseDescription {
  background: #009933;
  background: linear-gradient(45deg, rgba(0, 153, 51, 0.75) 0%, #009933 100%);
  background: -webkit-linear-gradient(135deg, rgba(0, 153, 51, 0.75) 0%, #009933 100%);
  color: white; }
body#gzk.showcase .showcaseContainer .showcaseWebContainer .targetContainer .targetList li.marked:after {
  background: url("/pages/portfolio/gzk/assets/marker.svg") center center no-repeat; }

.coreValueContainer {
  position: relative;
  height: 600px;
  padding: 0 1.5rem;
  background: url("/assets/team/friends-1.jpg") center center no-repeat;
  background-size: cover;
  filter: grayscale(1); }
  @media only screen and (min-width: 980px) {
    .coreValueContainer {
      background-size: cover;
      height: 750px; } }
  @media only screen and (min-width: 980px) {
    .coreValueContainer {
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); } }
  .coreValueContainer .overlayContainer {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    opacity: 0; }
  .coreValueContainer .contentContainer {
    z-index: 10;
    background: black;
    padding: 3rem 1.5rem;
    color: white;
    left: 1.5rem;
    right: 1.5rem;
    margin-left: auto;
    position: absolute;
    top: 450px;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15); }
    @media only screen and (min-width: 980px) {
      .coreValueContainer .contentContainer {
        max-width: 450px;
        top: 600px; } }
    .coreValueContainer .contentContainer .manageContainer {
      display: flex; }
      .coreValueContainer .contentContainer .manageContainer .counter,
      .coreValueContainer .contentContainer .manageContainer .nextSlideToggle,
      .coreValueContainer .contentContainer .manageContainer .prevSlideToggle {
        width: 33%;
        display: inline-block;
        font-size: 1.25em; }
    .coreValueContainer .contentContainer .mainContentContainer p.coreValue {
      margin-top: 10px;
      font-size: 1.25em;
      line-height: 1.1; }
    .coreValueContainer .contentContainer .progressbarContainer {
      width: 100%;
      position: relative; }
      .coreValueContainer .contentContainer .progressbarContainer .progress {
        position: absolute;
        top: -1px;
        height: 3px;
        background: #f8f8f8; }
      .coreValueContainer .contentContainer .progressbarContainer .maxProgress {
        width: 100%;
        height: 1px;
        background: #cccccc; }
  .coreValueContainer .friendsImageContainer {
    position: absolute;
    bottom: -30px;
    left: 1.5rem;
    right: 1.5rem;
    display: none;
    width: 60%; }
    @media only screen and (min-width: 980px) {
      .coreValueContainer .friendsImageContainer {
        display: block; } }

.teamSocialBanner {
  background: url("/assets/herosection/marker.svg") top center no-repeat;
  background-size: cover;
  margin-top: 250px;
  padding-top: 250px;
  padding-bottom: 240px; }
  .teamSocialBanner .innerContentContainer {
    margin-bottom: 200px; }

.feedContainer {
  margin-top: -120px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto; }
  @media only screen and (min-width: 980px) {
    .feedContainer {
      grid-gap: 20px; } }
  .feedContainer .feedItem {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15); }
    .feedContainer .feedItem:after {
      font-family: "Font Awesome 5 Brands";
      color: white;
      font-size: 2.5em;
      content: "\f16d";
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 600ms ease-in-out;
      opacity: 0; }
      @media only screen and (min-width: 980px) {
        .feedContainer .feedItem:after {
          font-size: 4em; } }
    .feedContainer .feedItem:before {
      content: "";
      background: rgba(255, 218, 72, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all 600ms ease-in-out;
      opacity: 0; }
    .feedContainer .feedItem:hover {
      cursor: crosshair; }
      .feedContainer .feedItem:hover:before, .feedContainer .feedItem:hover:after {
        opacity: 1;
        transition: all 600ms ease-in-out; }
    .feedContainer .feedItem img {
      opacity: 0;
      width: 100%; }

.footNote .innerContainer {
  width: 100%; }
  @media only screen and (min-width: 980px) {
    .footNote .innerContainer {
      width: 50%; } }

.instagramLink {
  display: block; }
  .instagramLink .subheading {
    color: black; }

body.contact {
  background: black; }
  body.contact .logoContainer {
    background: #ffda48; }
  body.contact .menuToggleContainer .hamburgerMenu .toggleLine {
    background: white; }
  body.contact .menuContainer {
    background: rgba(0, 0, 0, 0.75); }

.contactMain {
  margin-top: 200px; }

.contactContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .contactContainer .contactForm form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em; }
    .contactContainer .contactForm form .formgroup {
      padding: 0.5em;
      position: relative; }
      .contactContainer .contactForm form .formgroup.fullWidth {
        width: 100%; }
      .contactContainer .contactForm form .formgroup:after {
        content: attr(data-label);
        color: #ffda48;
        position: absolute;
        left: 1.5rem;
        font-weight: 600;
        top: -0.75rem;
        font-size: 0.85em;
        opacity: 0;
        transition: opacity 300ms ease-in-out; }
      .contactContainer .contactForm form .formgroup.focus:after {
        opacity: 1;
        transition: opacity 300ms ease-in-out; }
      .contactContainer .contactForm form .formgroup input,
      .contactContainer .contactForm form .formgroup textarea {
        padding: 0.75rem;
        border-radius: 5px;
        border: black 2px solid;
        width: 100%;
        font-size: 1em; }
        .contactContainer .contactForm form .formgroup input:focus,
        .contactContainer .contactForm form .formgroup textarea:focus {
          outline: none;
          border: #ffda48 2px solid;
          transition: all 300ms ease-in-out; }
  .contactContainer .contactInformation {
    margin-top: 5rem; }
    @media only screen and (min-width: 980px) {
      .contactContainer .contactInformation {
        width: 30%;
        margin-top: 0; } }
    .contactContainer .contactInformation .title {
      font-size: 1.25em; }
    .contactContainer .contactInformation .email {
      font-size: 2.5em;
      font-weight: 600; }

footer.contactFooter {
  position: relative;
  margin-top: 75px;
  bottom: 1em; }
  @media only screen and (min-width: 980px) {
    footer.contactFooter {
      bottom: 0;
      left: 0;
      right: 0; } }

.contactFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0; }
  .contactFooter div {
    width: 100%; }
    @media only screen and (min-width: 980px) {
      .contactFooter div {
        width: 50%; } }
  .contactFooter .socialItemContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem; }
    .contactFooter .socialItemContainer .socialItem {
      text-align: center; }
  .contactFooter .rightsContainer {
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 980px) {
      .contactFooter .rightsContainer {
        justify-content: space-around; } }

.button {
  display: flex;
  width: 175px;
  height: 50px;
  justify-content: center;
  align-items: center; }
  .button.primaryButton {
    background: #ffffff;
    text-transform: lowercase;
    color: #000000;
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    transition: 0.3s; }
    .button.primaryButton:after {
      position: absolute;
      transition: 0.3s;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #ffda48; }
    .button.primaryButton:hover:after {
      width: 100%;
      left: 0; }
  .button.secondaryButton {
    background: none;
    text-transform: lowercase;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid white;
    letter-spacing: 1px;
    transition: 300ms ease-in-out; }
    .button.secondaryButton:hover {
      box-shadow: inset 0px 0px 0px 2px #f7f7f7;
      transition: 300ms ease-in-out;
      background: rgba(255, 255, 255, 0.15); }
      .button.secondaryButton:hover:after {
        width: 0%; }

.secondaryLink {
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative; }
  .secondaryLink span {
    display: flex;
    align-items: center;
    margin-left: 7px; }
    .secondaryLink span:hover:before {
      transition: 300ms ease-in-out;
      left: calc(100% + 7px); }
    .secondaryLink span:before {
      content: "";
      background: #ffda48;
      z-index: -1;
      position: relative;
      left: -7px;
      width: 25px;
      height: 2px;
      display: inline-block;
      transition: 300ms ease-in-out; }

/*# sourceMappingURL=all.css.map */
