@import url("https://use.typekit.net/sdp7lpt.css");
* {
  font-family: futura-pt, sans-serif; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  pointer-events: none;
  max-width: 100%; }

a {
  text-decoration: none;
  color: #000000; }

* {
  box-sizing: border-box; }
  *::selection {
    background: #ffda48;
    color: black; }

body {
  padding: 1.5rem 1.5rem 0 1.5rem;
  background: #ffffff; }
  body.dark {
    background: #000000; }

.pointer,
button,
a {
  cursor: pointer; }

.whiteText {
  color: white; }

.pageSlogan {
  margin: 50% auto; }
  @media only screen and (min-width: 980px) {
    .pageSlogan {
      margin: 350px auto; } }

.maxContainer {
  max-width: 1280px; }

.fullWidth {
  width: 100%;
  margin: 0 auto; }

section,
footer {
  padding-top: 120px; }
  section.evenPaddingSection,
  footer.evenPaddingSection {
    padding-bottom: 120px; }

.mt1 {
  margin-top: 1em; }

.mt2 {
  margin-top: 2em; }

.mt3 {
  margin-top: 3em; }

.mt4 {
  margin-top: 4em; }

.mt5 {
  margin-top: 5em; }

.mtsection {
  margin-top: 300px; }

.pt1 {
  padding-top: 1em; }

.pt2 {
  padding-top: 2em; }

.pt3 {
  padding-top: 3em; }

.pt4 {
  padding-top: 4em; }

.pt5 {
  padding-top: 5em; }

.mt100 {
  margin-top: 100vh; }

.mauto {
  margin: 0 auto; }

.mlrauto {
  margin-left: auto;
  margin-right: auto; }

.medium {
  font-weight: 500; }

.bold {
  font-weight: 900; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.textLeft {
  text-align: left; }

.readText {
  font-size: 1.1em;
  font-weight: 400;
  color: #666666;
  line-height: 25px; }
  .readText.whiteText {
    color: white; }
  @media only screen and (min-width: 980px) {
    .readText {
      font-size: 1.25em;
      line-height: 30px; } }
  .readText.quote {
    position: relative; }
    .readText.quote:before {
      position: absolute;
      content: url(../assets/quote-open.svg);
      width: 2.5em;
      display: inline-block;
      opacity: 0.05; }

.sectionHeading {
  margin-bottom: 2rem; }
  .sectionHeading .heading {
    font-size: 42px;
    text-transform: lowercase;
    font-weight: 700;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
    @media only screen and (min-width: 980px) {
      .sectionHeading .heading {
        font-size: 62px; } }
  .sectionHeading .subheading {
    color: #666666;
    font-size: 0.9em;
    display: flex;
    font-weight: 400;
    align-items: center;
    margin-top: 5px; }
    @media only screen and (min-width: 980px) {
      .sectionHeading .subheading {
        font-size: 21px; } }
    .sectionHeading .subheading:before {
      content: "";
      background: #ffda48;
      margin-right: 7px;
      width: 25px;
      height: 2px;
      display: inline-block; }

h1.bigHeading {
  font-size: 3.5em;
  text-transform: uppercase; }
  @media only screen and (min-width: 600px) {
    h1.bigHeading {
      font-size: 5em; } }
  @media only screen and (min-width: 980px) {
    h1.bigHeading {
      font-size: 7em; } }
  @media only screen and (min-width: 1260px) {
    h1.bigHeading {
      font-size: 9em; } }

h2.heading {
  font-size: 3em;
  text-transform: uppercase; }
  @media only screen and (min-width: 600px) {
    h2.heading {
      font-size: 4em; } }
  @media only screen and (min-width: 980px) {
    h2.heading {
      font-size: 5em; } }
  @media only screen and (min-width: 1260px) {
    h2.heading {
      font-size: 6em; } }

p.subheading {
  font-size: 1.25em; }
  @media only screen and (min-width: 980px) {
    p.subheading {
      font-size: 1.35em; } }
  @media only screen and (min-width: 1260px) {
    p.subheading {
      font-size: 1.5em; } }

h3.heading {
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase; }
  @media only screen and (min-width: 1260px) {
    h3.heading {
      font-size: 4em; } }

h4.heading {
  margin-top: 10px;
  font-size: 3em;
  font-weight: 700; }

#customScrollbar {
  position: fixed;
  width: 4px;
  height: 0vh;
  left: 0;
  top: 0;
  background: #ffda48;
  z-index: 100000; }

.navContainer {
  margin-top: -1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 1.5rem;
  left: 1.5rem;
  z-index: 999;
  opacity: 1;
  transition: all 600ms ease-in-out; }
  .navContainer.open {
    opacity: 0;
    transition: all 600ms ease-in-out; }
  .navContainer .logoContainer {
    background: #000000;
    padding: 20px 15px;
    width: 70px; }
  .navContainer .menuToggleContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 17px;
    width: 30px; }
    .navContainer .menuToggleContainer .toggleLine {
      width: 30px;
      height: 3px;
      background: #000000;
      border-radius: 1px; }
    .navContainer .menuToggleContainer .middleLine.toggleLine {
      width: 20px;
      position: relative;
      left: 5px; }

.closeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem; }
  .closeContainer .icon {
    font-size: 1.75em; }

.menuContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 150vw;
  left: -150vw;
  top: 1.5rem;
  bottom: 1.5rem;
  z-index: 1001;
  padding: 1.5rem;
  backdrop-filter: blur(25px) brightness(100%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  transition: all 600ms;
  margin: -1.5rem; }
  @media only screen and (min-width: 980px) {
    .menuContainer {
      right: auto;
      width: 50%; } }
  .menuContainer.open {
    transition: all 600ms;
    right: 1.5rem;
    left: 1.5rem; }
  .menuContainer .menuItemContainer {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .menuContainer .menuItemContainer .menuItem {
      position: relative;
      z-index: 1;
      padding: 0.75rem 1.5rem; }
      .menuContainer .menuItemContainer .menuItem.active {
        background: url("../assets/menuItemBg.svg") center center no-repeat;
        background-size: auto; }
      .menuContainer .menuItemContainer .menuItem .text {
        font-size: 1.5em;
        font-weight: 700; }
        @media only screen and (min-width: 1260px) {
          .menuContainer .menuItemContainer .menuItem .text {
            font-size: 2em;
            text-transform: uppercase; } }
  .menuContainer .contactDetailsContainer {
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: 500; }
    .menuContainer .contactDetailsContainer .heading {
      color: #666666; }

.toggleMenuOverlay {
  display: none; }
  @media only screen and (min-width: 980px) {
    .toggleMenuOverlay.open {
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 1000;
      margin: -1.5rem; } }

#heroSection {
  position: absolute;
  top: 0;
  right: 1.5rem;
  left: 1.5rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #heroSection .contentContainer .linkItemContainer .linkItem {
    display: block; }
    #heroSection .contentContainer .linkItemContainer .linkItem .linkText {
      display: inline;
      font-weight: 800; }
  #heroSection .contentContainer .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 4em; }
    @media only screen and (min-width: 980px) {
      #heroSection .contentContainer .buttonContainer {
        justify-content: space-between; } }
    #heroSection .contentContainer .buttonContainer .team,
    #heroSection .contentContainer .buttonContainer .talk {
      display: none; }
      @media only screen and (min-width: 980px) {
        #heroSection .contentContainer .buttonContainer .team,
        #heroSection .contentContainer .buttonContainer .talk {
          display: flex !important; } }
  #heroSection .contentContainer .sloganContainer {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    color: #666666; }
    #heroSection .contentContainer .sloganContainer .verticalStripe {
      background: #666666;
      width: 3px;
      height: 100px;
      position: absolute;
      bottom: -115px;
      left: 0;
      right: 0;
      margin: 0 auto; }

#whatwedo {
  display: flex;
  padding-top: 200px;
  align-items: center;
  flex-direction: column;
  position: relative; }
  #whatwedo .sectionBacklayer {
    position: absolute;
    bottom: 3rem;
    right: -1.5rem;
    z-index: -2; }
    @media only screen and (min-width: 980px) {
      #whatwedo .sectionBacklayer {
        position: absolute;
        bottom: -150px;
        left: 0; } }
    @media only screen and (min-width: 1400px) {
      #whatwedo .sectionBacklayer {
        left: -3.75rem; } }
  @media only screen and (min-width: 980px) {
    #whatwedo {
      flex-direction: row;
      justify-content: center; } }
  #whatwedo .contentContainer {
    position: relative; }
    @media only screen and (min-width: 980px) {
      #whatwedo .contentContainer {
        width: 500px;
        order: 1;
        left: 3rem; } }
  #whatwedo .imageContainer {
    position: relative;
    width: auto;
    padding-right: 1.5rem; }
    @media only screen and (min-width: 980px) {
      #whatwedo .imageContainer {
        width: 50%;
        order: 2;
        padding-right: 3rem;
        right: 3rem; } }
    #whatwedo .imageContainer:after {
      content: "";
      z-index: -1;
      display: inline-block;
      position: absolute;
      right: 0rem;
      bottom: -1.5rem;
      left: 1.5rem;
      top: 1.5rem;
      border: 10px solid #fce600;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
      @media only screen and (min-width: 1260px) {
        #whatwedo .imageContainer:after {
          right: 0rem;
          bottom: -2.25rem;
          left: 2.25rem;
          top: 2.25rem; } }
    #whatwedo .imageContainer img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }

#testimonials {
  position: relative; }
  #testimonials .sectionBacklayer {
    position: absolute;
    top: 3rem;
    right: -1.5rem;
    z-index: -2; }
    @media only screen and (min-width: 1400px) {
      #testimonials .sectionBacklayer {
        right: -3.75rem; } }

@media screen and (min-width: 980px) {
  .testimonialContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem; } }
.testimonialContainer .testimonialItem {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  @media only screen and (min-width: 980px) {
    .testimonialContainer .testimonialItem {
      padding: 2rem 1.5rem; } }
  .testimonialContainer .testimonialItem:last-child {
    margin-top: 5rem; }
    @media only screen and (min-width: 980px) {
      .testimonialContainer .testimonialItem:last-child {
        margin-top: 0; } }
  .testimonialContainer .testimonialItem .avatar {
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    filter: grayscale(100%); }
    @media only screen and (min-width: 980px) {
      .testimonialContainer .testimonialItem .avatar {
        width: 150px; } }
  .testimonialContainer .testimonialItem .personDetails .name {
    font-weight: 600;
    font-size: 1em; }
  .testimonialContainer .testimonialItem .personDetails .title {
    font-weight: 200;
    font-size: 0.9em;
    color: #666666; }

#team {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }
  @media only screen and (min-width: 980px) {
    #team {
      margin-left: auto;
      margin-right: auto; } }
  #team .innerContentContainer {
    position: relative;
    padding: 1.875rem 1.5rem;
    background: url("../assets/team/friends-1.jpg") center center no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
    @media only screen and (min-width: 980px) {
      #team .innerContentContainer {
        border-radius: 10px;
        padding: 0; } }
    #team .innerContentContainer img {
      display: none; }
      @media only screen and (min-width: 980px) {
        #team .innerContentContainer img {
          display: inline-block;
          position: absolute;
          bottom: -50px;
          right: 2em;
          height: 100px; } }
    #team .innerContentContainer .contentContainer {
      padding: 1.5rem;
      background: rgba(255, 218, 72, 0.9);
      border-radius: 5px;
      color: white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
      @media only screen and (min-width: 980px) {
        #team .innerContentContainer .contentContainer {
          width: 33%;
          position: relative;
          left: 1.5rem;
          top: 4rem; } }
      #team .innerContentContainer .contentContainer .preHeading {
        font-size: 0.85rem;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: white; }
        #team .innerContentContainer .contentContainer .preHeading:before {
          content: "";
          background: white;
          margin-right: 7px;
          width: 25px;
          height: 2px;
          display: inline-block; }
      #team .innerContentContainer .contentContainer .teamLink {
        font-size: 1.25em;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: white; }
        @media only screen and (min-width: 980px) {
          #team .innerContentContainer .contentContainer .teamLink {
            margin-bottom: 4em; } }
        #team .innerContentContainer .contentContainer .teamLink:before {
          content: "";
          background: white;
          margin-right: 7px;
          width: 25px;
          height: 2px;
          display: inline-block; }

.socialBanner {
  background: #f8f8f8;
  margin-right: -1.5rem;
  margin-left: -1.5rem; }
  .socialBanner .innerContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem; }
    .socialBanner .innerContentContainer .socialIconContainer {
      display: flex;
      justify-content: space-around;
      width: 400px; }
      .socialBanner .innerContentContainer .socialIconContainer .socialItem i {
        font-size: 1.5em; }
        @media only screen and (min-width: 1260px) {
          .socialBanner .innerContentContainer .socialIconContainer .socialItem i {
            font-size: 2em; } }

footer {
  margin-top: 250px;
  background: #ffda48;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  color: white; }
  @media only screen and (min-width: 980px) {
    footer {
      margin-top: 500px; } }
  footer .innerContentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1.5rem; }
    @media only screen and (min-width: 980px) {
      footer .innerContentContainer {
        justify-content: center; } }
    footer .innerContentContainer .informationContainer {
      width: 100%; }
      footer .innerContentContainer .informationContainer .heading {
        font-size: 4em; }
        @media only screen and (min-width: 980px) {
          footer .innerContentContainer .informationContainer .heading {
            font-size: 5em; } }
        @media only screen and (min-width: 1260px) {
          footer .innerContentContainer .informationContainer .heading {
            font-size: 6em; } }
      @media only screen and (min-width: 980px) {
        footer .innerContentContainer .informationContainer {
          width: 50%; } }
      footer .innerContentContainer .informationContainer .departmentContainer .departmentItem .title {
        color: #000000;
        opacity: 0.25;
        font-size: 1.25em; }
      footer .innerContentContainer .informationContainer .departmentContainer .departmentItem .email {
        font-size: 2.5em;
        font-weight: 600; }
    footer .innerContentContainer .logoContainer {
      width: 100%;
      display: none; }
      footer .innerContentContainer .logoContainer img {
        width: 85%; }
      @media only screen and (min-width: 980px) {
        footer .innerContentContainer .logoContainer {
          width: 50%;
          display: inline-block; } }
    footer .innerContentContainer .notesContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 1.5rem 0;
      font-size: 1.25em; }
      footer .innerContentContainer .notesContainer div {
        width: 33%; }
      footer .innerContentContainer .notesContainer .socialItemContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%; }
        footer .innerContentContainer .notesContainer .socialItemContainer .socialItem i {
          font-size: 1.25em; }
          @media only screen and (min-width: 1260px) {
            footer .innerContentContainer .notesContainer .socialItemContainer .socialItem i {
              font-size: 2em; } }
  footer .rightsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    padding: 0.75rem 1.5rem; }

.overviewContainer .overviewItem {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  .overviewContainer .overviewItem:not(:first-child) {
    margin-top: 250px; }
  @media only screen and (min-width: 980px) {
    .overviewContainer .overviewItem {
      flex-direction: row; }
      .overviewContainer .overviewItem:not(:first-child) {
        margin-top: 400px; } }
  .overviewContainer .overviewItem .imageContainer,
  .overviewContainer .overviewItem .contentContainer {
    width: 100%; }
    @media only screen and (min-width: 980px) {
      .overviewContainer .overviewItem .imageContainer,
      .overviewContainer .overviewItem .contentContainer {
        width: 50%; } }
  .overviewContainer .overviewItem .imageContainer {
    text-align: center; }
    .overviewContainer .overviewItem .imageContainer img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
  .overviewContainer .overviewItem .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (min-width: 980px) {
      .overviewContainer .overviewItem .contentContainer {
        margin-left: 3rem; } }
    .overviewContainer .overviewItem .contentContainer h3.heading {
      width: 75%;
      position: relative;
      top: -1em;
      left: 1em;
      text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15); }
      @media only screen and (min-width: 980px) {
        .overviewContainer .overviewItem .contentContainer h3.heading {
          top: 20px;
          left: -100px; } }
    .overviewContainer .overviewItem .contentContainer .task {
      margin-bottom: 1em; }
    .overviewContainer .overviewItem .contentContainer .readText.quote {
      color: #333333;
      font-style: italic;
      font-weight: 500; }

*::selection {
  background: #c1ff2e;
  color: black; }

main {
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.showcaseContainer {
  padding: 120px 1.5rem; }
  @media only screen and (min-width: 980px) {
    .showcaseContainer {
      padding: 200px 1.5rem; } }

.closeContainer.closeShowcase .icon {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.45); }

.navContainer .closeButton {
  width: 30px; }
  .navContainer .closeButton .closeLine {
    width: 30px;
    height: 3px;
    background: #ffffff;
    transform-origin: center;
    position: absolute;
    border-radius: 1px; }
    .navContainer .closeButton .closeLine.topLine {
      transform: rotate(45deg); }
    .navContainer .closeButton .closeLine.bottomLine {
      transform: rotate(-45deg); }

.showcaseHeader {
  height: 100vh;
  overflow: hidden; }
  .showcaseHeader .backgroundOverlay {
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  .showcaseHeader .videoBackground {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center; }
    .showcaseHeader .videoBackground video {
      position: absolute;
      bottom: 0;
      min-width: 100%;
      min-height: 100%; }
  .showcaseHeader .showcaseLogoContainer {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 1.5rem; }
    .showcaseHeader .showcaseLogoContainer img {
      width: 100%;
      max-width: 750px; }

.showcaseDescription {
  background: #c1ff2e;
  padding: 120px 1.5rem; }
  .showcaseDescription .innerContentContainer {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap; }
    @media only screen and (min-width: 980px) {
      .showcaseDescription .innerContentContainer {
        flex-direction: row; } }
    .showcaseDescription .innerContentContainer .taskContainer {
      width: 100%;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: space-between;
      order: 2;
      margin-top: 3rem; }
      @media only screen and (min-width: 980px) {
        .showcaseDescription .innerContentContainer .taskContainer {
          order: 1;
          width: 30%;
          margin-top: 0; } }
    .showcaseDescription .innerContentContainer .descriptionContainer {
      width: 100%;
      order: 1; }
      @media only screen and (min-width: 980px) {
        .showcaseDescription .innerContentContainer .descriptionContainer {
          order: 2;
          width: 70%; } }
      .showcaseDescription .innerContentContainer .descriptionContainer .readText {
        color: black; }
    .showcaseDescription .innerContentContainer .creditsContainer {
      width: 100%;
      order: 3; }
      @media only screen and (min-width: 980px) {
        .showcaseDescription .innerContentContainer .creditsContainer {
          margin-left: 30%; } }

.showcaseTestimonial .testimonialContainer {
  display: flex;
  align-items: center; }
  .showcaseTestimonial .testimonialContainer .testimonialItem {
    box-shadow: none; }
    .showcaseTestimonial .testimonialContainer .testimonialItem .secondaryLink:before {
      background: #c1ff2e; }

.showcaseImageContainer {
  line-height: 0; }
  .showcaseImageContainer img {
    width: 100%; }

.problemContainer .toSolve {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .problemContainer .toSolve li {
    display: none;
    position: relative; }
    @media only screen and (min-width: 980px) {
      .problemContainer .toSolve li {
        display: inline-block; } }
    .problemContainer .toSolve li.marked {
      display: inline-block; }
    .problemContainer .toSolve li svg {
      position: absolute;
      height: 60px;
      width: 225px;
      top: calc(-60px / 4); }
      .problemContainer .toSolve li svg.left {
        left: calc(-225px / 3); }
      .problemContainer .toSolve li svg.middle {
        left: calc(-225px / 4); }
      .problemContainer .toSolve li svg.right {
        left: calc(-225px / 3.5); }
      .problemContainer .toSolve li svg path#problemMarker {
        fill: #c1ff2e; }
    .problemContainer .toSolve li p {
      font-size: 1.25em; }

footer.showCaseFooter {
  margin-top: 0;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  display: flex;
  width: 175px;
  height: 50px;
  justify-content: center;
  align-items: center; }
  .button.primaryButton {
    background: #ffffff;
    text-transform: lowercase;
    color: #000000;
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    letter-spacing: 1px; }
  .button.secondaryButton {
    background: none;
    text-transform: lowercase;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid white;
    letter-spacing: 1px; }

.secondaryLink {
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center; }
  .secondaryLink:before {
    content: "";
    background: #ffda48;
    margin-right: 7px;
    width: 25px;
    height: 2px;
    display: inline-block; }

/*# sourceMappingURL=all.css.map */
