.button {
  display: flex;
  width: 175px;
  height: 50px;
  justify-content: center;
  align-items: center;
  &.primaryButton {
    background: $primaryButtonColor;
    text-transform: lowercase;
    color: $primaryButtonTextcolor;
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    letter-spacing: 1px;
  }
}
