.button {
  display: flex;
  width: 175px;
  height: 50px;
  justify-content: center;
  align-items: center;
  &.primaryButton {
    background: $primaryButtonColor;
    text-transform: lowercase;
    color: $primaryButtonTextcolor;
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    &:after {
      position: absolute;
      transition: 0.3s;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: $primaryColor;
    }
    &:hover {
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
  &.secondaryButton {
    background: none;
    text-transform: lowercase;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid white;
    letter-spacing: 1px;
    transition: 300ms ease-in-out;
    &:hover {
      box-shadow: inset 0px 0px 0px 2px #f7f7f7;
      transition: 300ms ease-in-out;
      background: rgba(255, 255, 255, 0.15);
      &:after {
        width: 0%;
      }
    }
  }
}

.secondaryLink {
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;
  span {
    display: flex;
    align-items: center;
    margin-left: 7px;
    &:hover {
      &:before {
        transition: 300ms ease-in-out;
        left: calc(100% + 7px);
      }
    }

    &:before {
      content: "";
      background: $primaryColor;
      z-index: -1;
      position: relative;
      left: -7px;
      width: 25px;
      height: 2px;
      display: inline-block;
      transition: 300ms ease-in-out;
    }
  }
}
