footer#readytotalk {
  margin-top: 300px;
  @media only screen and (min-width: 980px) {
    margin-top: 150px;
    padding-top: 450px;
    z-index: 10;
    position: relative;

    background: url("/assets/home-footer-background.png") top center no-repeat;
    background-size: cover;
  }
  img {
    margin-bottom: 30px;
    @media only screen and (min-width: 980px) {
      margin-bottom: 50px;
    }
  }
  .contactDetailsContainer {
    @media only screen and (min-width: 980px) {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .detailItem {
      margin-top: 3em;
      .subheading {
        color: #aaaaaa;
        @media only screen and (min-width: 980px) {
          font-size: 1.25em;
        }
      }
      .heading {
        @media only screen and (min-width: 980px) {
          font-size: 2.5em;
        }
      }
    }
  }

  .rightsContainer {
    margin-top: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: $mobilePadding/2 $mobilePadding;
    @media only screen and (min-width: 980px) {
      margin-top: 250px;
    }
    flex-wrap: wrap;
    .rightsItem {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 10px 0;
      @media only screen and (min-width: 980px) {
        width: 33%;
        margin: 0;
      }
    }
    .socialItem {
      margin: 0 15px;
    }
  }
}

.socialItem i {
  transition: all 300ms;
  font-size: 1.5em;
}
.socialItem:hover i {
  transform: scale(1.2);
  color: $primaryColor;
  transition: all 300ms;
}
