* {
  box-sizing: border-box;
  &::selection {
    background: $primaryColor;
    color: black;
  }
}

body {
  padding: $mobilePadding $mobilePadding 0 $mobilePadding;
  background: $thirdColor;
  &.dark {
    background: $secondaryColor;
  }
}

main.noPadding {
  margin-top: -$mobileMargin;
  margin-left: -$mobileMargin;
  margin-right: -$mobileMargin;
}

.pointer,
button,
a {
  cursor: crosshair;
}

.whiteText {
  color: white !important;
}

.primaryText {
  color: $primaryColor;
}

.primaryText {
  color: $primaryColor;
}

// container
.pageSlogan {
  margin: 50% auto;

  @media only screen and (min-width: 980px) {
    margin: 350px auto;
  }
}

.maxContainer {
  max-width: 1280px;
}

.fullWidth {
  width: 100%;
  margin: 0 auto;
}

.halfWidth {
  width: 100%;
  @media only screen and (min-width: 980px) {
    width: 50%;
  }
}

section,
footer {
  padding-top: 120px;
  &.evenPaddingSection {
    padding-bottom: 120px;
  }
}

// Helper
.mt1 {
  margin-top: 1em;
}
.mt2 {
  margin-top: 2em;
}
.mt3 {
  margin-top: 3em;
}
.mt4 {
  margin-top: 4em;
}
.mt5 {
  margin-top: 5em;
}

.mb1 {
  margin-bottom: 1em;
}

.negativeMargin {
  margin-left: -$mobileMargin;
  margin-right: -$mobileMargin;
}

.mtsection {
  margin-top: 200px;
  @media only screen and (min-width: 980px) {
    margin-top: 300px;
  }
}

.mt100 {
  margin-top: 100vh;
}

.mauto {
  margin: 0 auto;
}

.mlrauto {
  margin-left: auto;
  margin-right: auto;
}

.pt1 {
  padding-top: 1em;
}
.pt2 {
  padding-top: 2em;
}
.pt3 {
  padding-top: 3em;
}
.pt4 {
  padding-top: 4em;
}
.pt5 {
  padding-top: 5em;
}

// Typography
.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.heavy {
  font-weight: 900;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.readText {
  font-size: 1.1em;
  font-weight: 400;
  color: $darkgrey;
  line-height: 25px;
  &.whiteText {
    color: white;
  }
  @media only screen and (min-width: 980px) {
    font-size: 1.25em;
    line-height: 30px;
  }
  &.quote {
    position: relative;
    &:before {
      position: absolute;
      content: url(../assets/quote-open.svg);
      width: 2.5em;
      display: inline-block;
      opacity: 0.05;
    }
  }
}

.sectionHeading {
  margin-bottom: 2rem;
  .heading {
    font-size: 42px;
    text-transform: lowercase;
    font-weight: 700;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    @media only screen and (min-width: 980px) {
      font-size: 62px;
    }
  }
  .subheading {
    color: $darkgrey;
    font-size: 0.9em;
    display: flex;
    font-weight: 400;
    align-items: center;
    margin-top: 5px;
    @media only screen and (min-width: 980px) {
      font-size: 21px;
    }
    &:before {
      content: "";
      background: $primaryColor;
      margin-right: 7px;
      width: 25px;
      height: 2px;
      display: inline-block;
    }
  }
}

// Headings
h1.bigHeading {
  font-size: 3em;
  text-transform: uppercase;
  @media only screen and (min-width: 600px) {
    font-size: 5em;
  }
  @media only screen and (min-width: 980px) {
    font-size: 7em;
  }
  @media only screen and (min-width: 1260px) {
    font-size: 9em;
  }
}

h2.heading {
  font-size: 3em;
  text-transform: uppercase;
  @media only screen and (min-width: 600px) {
    font-size: 4em;
  }
  @media only screen and (min-width: 980px) {
    font-size: 5em;
  }
  @media only screen and (min-width: 1260px) {
    font-size: 6em;
  }
}

p.subheading {
  font-size: 1.25em;
  @media only screen and (min-width: 980px) {
    font-size: 1.35em;
  }
  @media only screen and (min-width: 1260px) {
    font-size: 1.5em;
  }
}

p.heading {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

h3.heading {
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  @media only screen and (min-width: 1260px) {
    font-size: 4em;
  }
}

h4.heading {
  margin-top: 10px;
  font-size: 3em;
  font-weight: 700;
}

h5.heading {
  font-size: 1.75em;
  font-weight: 700;
}
