body {
  background: $thirdColor;
  // temporary
  background: url("https://source.unsplash.com/random");
  background-size: cover;
  // !temporary
  &.dark {
    background: $secondaryColor;
  }
}

.maxContainer {
  max-width: 1400px;
}
