#heroSection {
  position: absolute;
  top: 0;
  right: $mobilePadding;
  left: $mobilePadding;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  .contentContainer {
    width: 100%;
    .linkItemContainer {
      .linkItem {
        position: relative;
        display: block;
        cursor: crosshair;
        .linkText {
          display: inline;
          font-weight: 800;
          &:hover {
            -webkit-text-stroke: 5px black;
            color: transparent;
            text-shadow: 3px 3px 0 #000, 0 #000, 1px -1px 0 #000,
              -1px 1px 0 #000, 1px 1px 0 #000;
            background: url("/assets/herosection/heroCursor.svg") center center
              no-repeat;
          }
        }
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 2.5em;
      .team,
      .talk {
        display: none;
        @media only screen and (min-width: 980px) {
          display: flex !important;
        }
      }
      .team {
        margin: 0 10%;
      }
    }
    .sloganContainer {
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
      color: $darkgrey;
      .verticalStripe {
        background: $darkgrey;
        width: 3px;
        height: 100px;
        position: absolute;
        bottom: -115px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
