#heroSection {
  position: absolute;
  top: 0;
  right: $mobilePadding;
  left: $mobilePadding;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  .contentContainer {
    width: 100%;
    .linkItemContainer {
      .linkItem {
        position: relative;
        display: block;
        cursor: crosshair;
        &:hover {
          background: url("/assets/herosection/heroCursor.svg") center center
            no-repeat;
        }
        .linkText {
          display: inline;
          font-weight: 800;
        }
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 4em;
      .team,
      .talk {
        display: none;
        @media only screen and (min-width: 980px) {
          display: flex !important;
        }
      }
      .team {
        margin: 0 10%;
      }
    }
    .sloganContainer {
      position: absolute;
      bottom: $mobilePadding * 2;
      left: 0;
      right: 0;
      color: $darkgrey;
      .verticalStripe {
        background: $darkgrey;
        width: 3px;
        height: 100px;
        position: absolute;
        bottom: -115px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
