#customScrollbar {
  position: fixed;
  width: 4px;
  height: 0vh;
  left: 0;
  top: 0;
  background: $primaryColor;
  z-index: 100000;
}

.navContainer {
  margin-top: -$mobilePadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: $mobilePadding;
  left: $mobilePadding;
  z-index: 999;
  opacity: 1;
  transition: all 600ms ease-in-out;
  &.open {
    opacity: 0;
    transition: all 600ms ease-in-out;
  }
  .logoContainer {
    background: $black;
    padding: 20px 15px;
    width: 70px;
  }
  .menuToggleContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px;
    .menuLabel {
      margin-right: 1em;
      display: none;
      @media only screen and (min-width: 980px) {
        display: inline-block;
      }
    }
    &:hover {
      .hamburgerMenu .middleLine.toggleLine {
        width: 30px;

        transition: all 150ms;
      }
    }
    .hamburgerMenu {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      height: 17px;
      width: 30px;
      .toggleLine {
        width: 30px;
        height: 3px;
        background: $black;
        border-radius: 1px;
      }
      .middleLine.toggleLine {
        width: 20px;
        position: relative;
        left: 5px;
        transition: all 150ms;
      }
    }
  }
}

.closeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: $mobilePadding;
  top: $mobilePadding;
  .icon {
    font-size: 1.75em;
  }
}

// Menu
.menuContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 150vw;
  left: -150vw;
  top: $mobilePadding;
  opacity: 0;
  bottom: $mobilePadding;
  z-index: 1001;
  padding: $mobilePadding;
  backdrop-filter: blur(25px) brightness(100%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  transition: all 1000ms ease-in-out;
  margin: -$mobileMargin;
  background: rgba($color: #ffffff, $alpha: 0.95);
  @media only screen and (min-width: 980px) {
    right: auto;
    width: 50vw;
    min-width: 980px;
  }
  &.open {
    transition: all 1000ms ease-in-out;
    right: 0;
    left: 0;
    opacity: 1;
  }

  .menuItemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .menuItem {
      position: relative;
      padding: $mobilePadding;
      background: none;
      outline: none;
      border: none;
      font-size: 50px;
      z-index: 2;
      transition: 300ms ease-out all;
      text-align: center;
      opacity: 0.5;
      left: 0;
      &.active {
        opacity: 1;
        span:after {
          content: url("/assets/navigation-menu/marker-2.svg");
          width: 100%;
          position: absolute;
          color: #ffda48;
          z-index: -1;
          left: 5px;
          top: 30px;
          transition: 300ms ease-out all;
        }
      }
      &:hover:not(.active) {
        opacity: 1;
        @media only screen and (min-width: 980px) {
          left: 30px;
          transition: 300ms ease-out all;
        }
      }
      &.active {
        .text {
          &[data-menulabel]:after {
            content: none !important;
          }
        }
      }
      .number {
        font-size: 0.25em;
        @media only screen and (min-width: 980px) {
          font-size: 0.25em;
        }
      }
      .text {
        font-size: 0.9em;
        font-weight: 900;
        text-transform: uppercase;
        @media only screen and (min-width: 600px) {
          font-size: 1.5em;
        }
        @media only screen and (min-width: 980px) {
          font-size: 2em;
        }
        &[data-menulabel]:after {
          width: 100%;
          position: absolute;
          color: rgba(255, 218, 72, 0);
          z-index: -1;
          left: 5px;
          top: 30px;
          opacity: 0;
          transition: 300ms ease-out all;
        }
        &:hover[data-menulabel]:after {
          opacity: 1;
          transition: 300ms ease-out all;
        }
        &[data-menulabel="Startseite"]:after {
          content: url("/assets/navigation-menu/marker-2.svg");
        }
        &[data-menulabel="Portfolio"]:after {
          content: url("/assets/navigation-menu/marker-3.svg");
        }
        &[data-menulabel="Team"]:after {
          content: url("/assets/navigation-menu/marker-4.svg");
        }
        &[data-menulabel="Kontakt"]:after {
          content: url("/assets/navigation-menu/marker-1.svg");
        }
      }
    }
  }

  .contactDetailsContainer {
    position: absolute;
    bottom: $mobilePadding;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: 500;
    .heading {
      color: #aaaaaa;
    }
  }
}

.toggleMenuOverlay {
  display: none;
  &.open {
    @media only screen and (min-width: 980px) {
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 1000;
      margin: -$mobileMargin;
    }
  }
}
