#testimonials {
  position: relative;
  .menschenImage {
    position: absolute;
    top: 0;
    width: 75%;
    right: 0;
    left: 0;
  }
  .sectionHeading {
    margin-bottom: 0;
  }
  .testimonialContainer {
    display: flex;
    .testimonialItem {
      background: transparent;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 75%;
      @media only screen and (min-width: 980px) {
        padding: 2rem 1.5rem;
      }

      .avatar {
        width: 200px;
        height: 200px;
        filter: grayscale(100%);
        @media only screen and (min-width: 980px) {
          width: 250px;
          height: 250px;
        }
      }
      .personDetails {
        .name {
          font-weight: 600;
          font-size: 1em;
        }
        .title {
          font-weight: 200;
          font-size: 0.9em;
          color: $darkgrey;
        }
      }
      .profilInformation {
        background: url("/assets/herosection/marker.svg") center center
          no-repeat;
      }
    }
  }
}
