// Main Variables
$primaryColor: #ffda48;
$secondaryColor: #000000;
$thirdColor: #ffffff;

// Other Variables
$bodyBackground: $thirdColor;
$linkColor: $secondaryColor;

// Buttons
$primaryButtonColor: $thirdColor;
$primaryButtonTextcolor: $secondaryColor;
