#whatwedo {
  position: relative;
  padding-top: 300px;
  @media only screen and (min-width: 980px) {
    padding-bottom: 100px;
  }
  .imageContainer {
    img {
      width: 100%;
    }
  }
  .ideenImage {
    display: none;
    position: absolute;
    @media only screen and (min-width: 980px) {
      width: 55%;
      max-width: 900px;
      display: inline-block;
      bottom: -10px;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }

  .sectionHeading {
    margin-bottom: 0;
  }
  .contentContainer {
    .readText {
      @media only screen and (min-width: 980px) {
        width: 75%;
        max-width: 950px;
      }
    }
  }
  .imageContainer {
    display: block;
  }
}
